  
.container{
    margin-bottom: 100px;
}
.buy-now-button{
    background-color: black;
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
}
.card{
    box-shadow:5px 5px 20px gray;
    border-radius: 10px;
}
.product-name{
    text-align: center;
}
.content{
    margin: 40px;
}
.cat-1,.cat-2,.cat-3{
    box-shadow:5px 5px 10px gray;
    border-radius: 10px;
    margin-top: 100px;
}
.underline{
    display:inline-flex;
    position: relative;
}
.underline::after{
    content: '';
    height: 5px;
    width: 25%;
    background-color: orange;
    position: absolute;
    bottom: -20%;
    border-radius: 10px;
}
.see-all-button{
    color:orange;
}